.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.title {
  text-align: center;
  margin-bottom: 20px;
}

.dropzone {
  border: 2px dashed #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.file-info {
  margin-top: 10px;
}

.chart-container {
  height: 400px; /* Set the desired height for the charts */
  margin-bottom: 20px; /* Add some spacing between charts */
}

/* Add more custom styling if needed */
